<%- partial('_partial/header', {
    title: page.title,
    hdClass: 'page-header'
}) %>
<%
page.reward = 'reward' in page ? (theme.reward && page.reward) : theme.reward;
page.slug = 'hexo-page-' + page.path.replace(/\/index\.html$/,'').split('/').join('-');
%>
<div class="container body-wrap">
    <article class="page-article fade" itemprop="blogPage">
        <% if(theme.about){ %>
         <h1>关于</h1>
            <div class="card page-about-me flex-row">
                <a href="/" class="avatar waves-effect waves-circle waves-light"><%- image_tag(theme.avatar) %></a>
                <!-- <div class="content flex-col">
                    <p><strong><%- config.author %></strong></p>
                    <p><em><%- config.subtitle %></em></p>
                    <p><%- theme.about %></p>
                </div> -->
                <div class="content flex-col">
											<li>一名顶着java的名义,干着各种杂活的小菜鸡</li>
											<li>星座:从来不关注这个,话说这个有用吗?</li>
											<li>职业生涯:
													<ul>2019.1至今,在某制造企业，干着Devops运维的工作</ul>
											</li>
											<li>属性:宅男中的战斗机</li>
											<li>性格: 情商低,钢铁直男</li>
											<li>联系方式:
												<ul>邮箱: cynen@foxmail.com</ul>
												<ul>微信: </ul>
												<ul><img src="/img/wechat.jpg"></ul>
											</li>
								</div>
            </div>
        <% } else {%>
            <div class="post-content page-content" id="page-content" itemprop="pageContent">
                <%- page.content.replace(/<p>}<\/p>/g, '</div>')
                    .replace(/<p>@([\w-]+){<\/p>/g, function(match, $1){
                    return '<div class="'+ $1 +'">'
                }) %>
            </div>
        <% } %>

        <%- partial('_partial/post/reward-btn') %>

        <%- partial('_partial/post/comment', { post: page }) %>
    </article>
    <%- partial('_partial/post/reward') %>
</div>
